*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: aqua;
}
section{
    height: 100%;
    width: 50%;
    background-image: url("https://images.pexels.com/photos/6501742/pexels-photo-6501742.jpeg?auto=compress&cs=tinysrgb&w=600");
    margin-left: 25%;
}
#nav{
    height: 100px;
    width: 100%;
}
#nav h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 35%;
    padding-top: 50px;
    -webkit-text-stroke: 1px rgba(255, 0, 0, 0.195);
    z-index: 99;
}
#header
{
    height: 95%;
    width: 100%;
    display: flex;
}
#tik{
    height: 100%;
    width: 40%;
    background-color: orange;

}
#tik #hey{
    height: 150px;
    width: 100px;
    margin-left: 100px;
    margin-top: -40px;
    border-radius: 200px;
    border: 5px solid rgb(255, 0, 0);
}
#tok{
    height: 100%;
    width: 60%;
    background-color: white;
}
#tok h3{
     padding-left: 60px;
     padding-top: 20px;
     font-weight: 1000;
}
 #line{
    height: 3px;
    width: 80%;
    background-color: red;
    margin-left: 40px;
    margin-top: 8px;
}
#tok p{
    color: black;
    padding-left: 50px;
    padding-top: 10px;
    font-weight: 100;
    font-size: 2vh;
    font-display: 1px;
}
#tok h3{
    color: blue;
}
span{
    color: blue;
    padding-left: 50px;
}
#tik h3{
    padding-top: 70px;
    padding-left: 20px;
}
#tik img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
#tik span{
    color: black;
    font-weight: 1000;
    font-size: 2vh;
    padding-left: 30px;
}
li{
    padding-left: 40px;
    font-weight: 550;
}